*{
margin:0px;
padding:0px;
}
html,body{
height:100%;
width:100%;
}
.container{
height:100%;
width:100%;
background:#2980b9;
}
#messageDiv{
position:relative;
padding:112px 0px;
width:100%;
text-align:center;
font-family:'Calibri';
font-size:42px;
color:#fff;
}