*{
margin:0px;
padding:0px;
}
html,body{
height:100%;
width:100%;
}
.container{
height:100%;
width:100%;
background:#2980b9;
}
#messageDiv{
position:relative;
padding:112px 0px;
min-height:190px;
width:100%;
text-align:center;
font-family:'Calibri';
font-size:42px;
color:#fff;
}
.text_field{
padding:13px 19px;
font-family:'Calibri';
font-size:18px;
border:none;
width:210px;
border-radius:2px;
margin-left:38%;
margin-top:42px;

}